blinker==1.8.2
boto3==1.35.34
botocore==1.35.34
click==8.1.7
flask==3.0.3
Flask-Cors==5.0.0
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.4
jmespath==1.0.1
Markdown==3.7
MarkupSafe==2.1.5
pdfkit==1.0.0
python-dateutil==2.9.0.post0
s3transfer==0.10.2
six==1.16.0
urllib3==1.26.20
werkzeug==3.0.4
zipp==3.20.2
python-dotenv